primary = #BDBDBD
info = #2695F3
warning = #FFBF10
success = #4DAD51
error = #FF5353

background__info = #E8F2FC
background__warning = #F7F0D8
background__success = #EAFCEA
background__error = #FFF2F2
background__primary = #F2F2F2